body, html, #root, .root-container {
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.root-container {
  display: grid;
  grid-template-rows: [row-full-height] auto;
  grid-template-columns: [col-navigation] 240px [col-content] auto;
  grid-column-gap: 24px;
}

.content-container {
 grid-column: col-content;
 grid-row: row-full-height;
 margin-top: 12px;
}

.left-pane {
  grid-column: col-navigation;
  grid-row: row-full-height;
}